# Byte-compiled / optimized / DLL files
_pycache_/
__pychache__/
*.py[cod]
*$py.class

.idea
Input_data_files/
prel_Tests/1
Experiments/
DP/Trans_matxs/
DP/__pycache__/
QL/__pycache__/
Stationary_state_space/
*.png
